{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "avatok-e19ef",
    "storage_bucket": "avatok-e19ef.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:8e77c35d2df04506126d00",
        "android_client_info": {
          "package_name": "ai.avatok.avatok_call"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSy_REPLACE_WITH_YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:8e77c35d2df04506126d00",
        "android_client_info": {
          "package_name": "ai.avatok.avatok_call.staging"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSy_REPLACE_WITH_YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}