node_modules/
# Generated at build time from Specs/brand.json / written by CI; never commit
android/app/google-services.json
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/
*.jks
*.keystore
